*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

.login, .register, .account-setup{
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.login h2, .register h2, .account-setup h2{
    margin-bottom: 20px;
    text-align: center;
}

.register h3{
    margin-bottom: 10px;
    
}

.login input, .register input, .account-setup input, .account-setup select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register label, .account-setup label{
    display: block;
    margin-bottom: 5px;
   font: weight 100px;
}
.login button, .account-setup button{
    width:40%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:inline-block;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
    
}

.register button{
    width:100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:inline-block;
    font-size: 16px;
    
}


.login button:hover, .register button:hover{
    background-color: #0056b3;
    outline: none;
}




